 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("images/ggffg-min.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 574px;
}

.u-section-1 .u-text-1 {
  text-shadow: 0px 0px 8px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 0 0 rgba(0,0,0,0);
  font-size: 2.25rem;
  margin: 257px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  letter-spacing: 2px;
  text-shadow: 0px 0px 22px rgba(0,0,0,0.35);
  box-shadow: 0px 0px 0 0 rgba(0,0,0,0);
  margin: 15px auto 0 435px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 95px auto 0 201px;
  padding: 15px 18px 16px 16px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: -50px 245px 0 auto;
  padding: 15px 21px 16px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: -50px auto 60px 484px;
  padding: 15px 16px 16px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 436px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 176px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 76px;
    margin-left: 124px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 127px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: auto;
    margin-bottom: 54px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 37.26% 53.83%;
    background-size: 115%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 189px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -570px;
    margin-left: 221px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 59px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 18px;
  }

  .u-section-1 .u-btn-3 {
    margin-bottom: 59px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 414px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 115px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -1355px;
    margin-left: 166px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 35px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 17px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 17px;
    margin-bottom: 26px;
    padding-right: 78px;
    padding-left: 77px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 28.68% 51.52%;
    background-size: auto 115%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 348px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    margin-top: 60px;
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -1203px;
    margin-left: 105px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 116px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -110px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 70px;
    margin-bottom: 38px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 531px;
}

.u-section-2 .u-group-1 {
  width: 524px;
  height: auto;
  margin: 54px auto 0 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 9px 0 0;
}

.u-section-2 .u-text-2 {
  line-height: 2;
  margin: 41px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  width: 570px;
  margin: -416px 0 71px auto;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(50% - 20px) calc(50% - 20px);
  min-height: 400px;
  grid-gap: 40px 40px;
}

.u-section-2 .u-container-layout-2 {
  padding: 16px 0 0;
}

.u-section-2 .u-image-1 {
  height: 66px;
  width: 245px;
  margin: 41px auto 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 16px 0 0;
}

.u-section-2 .u-image-2 {
  height: 66px;
  width: 245px;
  margin: 41px auto 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 16px 0 0;
}

.u-section-2 .u-image-3 {
  height: 66px;
  width: 245px;
  margin: 41px auto 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 16px 0 0;
}

.u-section-2 .u-image-4 {
  height: 66px;
  width: 245px;
  margin: 41px auto 0;
}

.u-section-2 .u-image-5 {
  width: 360px;
  height: 126px;
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-2 .u-image-6 {
  width: 300px;
  height: 78px;
  margin: -92px 30px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 829px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 33px;
    min-height: 301px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 14px;
    margin-right: 321px;
  }

  .u-section-2 .u-list-1 {
    width: 917px;
    margin-top: 41px;
    margin-right: auto;
    margin-bottom: 54px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 644px;
  }

  .u-section-2 .u-group-1 {
    min-height: 383px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-1 {
    margin-right: 131px;
    margin-left: 30px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-2 .u-list-1 {
    width: 331px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1168px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 0;
  }

  .u-section-2 .u-image-1 {
    height: 262px;
    width: 116px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 0;
  }

  .u-section-2 .u-image-2 {
    height: 262px;
    width: 116px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 0;
  }

  .u-section-2 .u-image-3 {
    height: 262px;
    width: 116px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 0;
  }

  .u-section-2 .u-image-4 {
    height: 262px;
    width: 116px;
  }

  .u-section-2 .u-image-5 {
    width: 289px;
    height: 92px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 41px;
  }

  .u-section-2 .u-image-6 {
    margin-right: 33px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    height: 333px;
    width: 265px;
    margin-top: -30px;
  }

  .u-section-2 .u-image-2 {
    height: 333px;
    width: 265px;
    margin-top: -30px;
  }

  .u-section-2 .u-image-3 {
    height: 333px;
    width: 265px;
    margin-top: -30px;
  }

  .u-section-2 .u-image-4 {
    height: 333px;
    width: 265px;
    margin-top: -30px;
  }

  .u-section-2 .u-image-5 {
    width: 253px;
    height: 76px;
    margin-top: 50px;
    margin-left: 0;
  }

  .u-section-2 .u-image-6 {
    width: 237px;
    height: 62px;
    margin-top: -69px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 699px;
  }

  .u-section-2 .u-image-1 {
    height: 334px;
  }

  .u-section-2 .u-image-2 {
    height: 334px;
  }

  .u-section-2 .u-image-3 {
    height: 334px;
  }

  .u-section-2 .u-image-4 {
    height: 334px;
  }

  .u-section-2 .u-image-5 {
    width: 170px;
    height: 66px;
    margin-top: 29px;
  }

  .u-section-2 .u-image-6 {
    width: 155px;
    height: 40px;
    margin-top: -66px;
  }
} .u-section-3 {
  min-height: 143px;
}

.u-section-3 .u-group-1 {
  min-height: 158px;
  height: auto;
  margin-top: -15px;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 40px;
  padding-right: 40px;
}

.u-section-3 .u-text-1 {
  margin: 0 562px 0 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 146px;
  }

  .u-section-3 .u-group-1 {
    min-height: 161px;
    height: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 0;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 29px;
    margin-right: 296px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 24px;
    margin-left: 48px;
    margin-right: 48px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-top: 43px;
    margin-right: 22px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 48px;
    margin-right: 0;
  }
} .u-section-4 {
  min-height: 459px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-image-1 {
  min-height: 459px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/bd97f276cc7f057ae98ebf3b35a62b5d7475a0d92191d1f82890c5ddd75c7ddc82cd181d56361efaea264fc722d5e132b0758b6496322f81303937_1280.jpg");
  background-position: 86.49% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 17px;
}

.u-section-4 .u-image-2 {
  width: 210px;
  height: 41px;
  margin: 20px auto 0 11px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 459px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-4 .u-text-1 {
  margin: 11px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 43px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.777781rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 56px auto 0 75px;
  padding: 15px 41px 15px 40px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 548px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 43px;
  }

  .u-section-4 .u-image-1 {
    min-height: 378px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 378px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 531px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 1px;
  }

  .u-section-4 .u-image-1 {
    min-height: 290px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 721px;
  }

  .u-section-4 .u-image-1 {
    min-height: 435px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 491px;
  }

  .u-section-4 .u-image-1 {
    min-height: 274px;
  }
} .u-section-5 {
  background-image: url("images/bg.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-5 .u-image-1 {
  width: 570px;
  height: 110px;
  margin: 54px auto 0 257px;
}

.u-section-5 .u-image-2 {
  width: 436px;
  height: 438px;
  object-position: 50% 30.36%;
  filter: brightness(0.45);
  margin: 74px auto 0 76px;
}

.u-section-5 .u-list-1 {
  width: 584px;
  grid-template-rows: auto auto auto;
  margin: -453px 12px 0 auto;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 364px;
  grid-gap: 0px 0px;
}

.u-section-5 .u-container-layout-1 {
  padding: 20px 30px 17px 20px;
}

.u-section-5 .u-icon-1 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 22px;
}

.u-section-5 .u-text-1 {
  font-style: normal;
  margin: -64px 0 0 98px;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px 30px 17px 20px;
}

.u-section-5 .u-icon-2 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 22px;
}

.u-section-5 .u-text-2 {
  font-style: normal;
  margin: -64px 0 0 98px;
}

.u-section-5 .u-container-layout-3 {
  padding: 20px 30px 3px 20px;
}

.u-section-5 .u-icon-3 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 22px;
}

.u-section-5 .u-text-3 {
  font-style: normal;
  margin: -64px 0 0 98px;
}

.u-section-5 .u-image-3 {
  width: 309px;
  height: 106px;
  margin: -46px auto 0 122px;
}

.u-section-5 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.777781rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -17px 246px 60px auto;
  padding: 15px 41px 15px 40px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 710px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 41px;
    margin-right: 173px;
    margin-left: auto;
  }

  .u-section-5 .u-image-2 {
    width: 325px;
    height: 402px;
    margin-top: 85px;
    margin-left: 0;
  }

  .u-section-5 .u-list-1 {
    margin-top: -415px;
  }

  .u-section-5 .u-image-3 {
    margin-top: -79px;
    margin-left: 0;
  }

  .u-section-5 .u-btn-2 {
    margin-top: 16px;
    margin-right: 46px;
    margin-bottom: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 708px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 33px;
    margin-right: auto;
  }

  .u-section-5 .u-image-2 {
    margin-top: 46px;
  }

  .u-section-5 .u-list-1 {
    width: 383px;
    margin-top: -411px;
    margin-right: 0;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 530px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 12px;
    padding-right: 0;
    padding-bottom: 12px;
  }

  .u-section-5 .u-icon-1 {
    height: 56px;
    width: 56px;
    margin-top: 8px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-left: 75px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 12px;
    padding-right: 0;
    padding-bottom: 12px;
  }

  .u-section-5 .u-icon-2 {
    height: 56px;
    width: 56px;
    margin-top: 8px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-left: 75px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-top: 12px;
    padding-right: 0;
    padding-bottom: 12px;
  }

  .u-section-5 .u-icon-3 {
    height: 56px;
    width: 56px;
    margin-top: 8px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-left: 75px;
  }

  .u-section-5 .u-image-3 {
    margin-top: -243px;
  }

  .u-section-5 .u-btn-2 {
    margin: 47px auto 37px 80px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 667px;
  }

  .u-section-5 .u-image-1 {
    height: 104px;
    margin-top: 28px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-list-1 {
    margin-top: 28px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 393px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 84px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 84px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 84px;
  }

  .u-section-5 .u-btn-2 {
    margin-top: 24px;
    margin-left: auto;
    margin-bottom: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 420px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .u-section-5 .u-icon-1 {
    height: 52px;
    width: 52px;
    margin-top: 12px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 76px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .u-section-5 .u-icon-2 {
    height: 52px;
    width: 52px;
    margin-top: 12px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 76px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .u-section-5 .u-icon-3 {
    height: 52px;
    width: 52px;
    margin-top: 12px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 76px;
  }
} .u-section-6 {
  min-height: 493px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-image-1 {
  min-height: 493px;
  background-image: url("images/vbvf-min.jpg");
  background-position: 56.12% 100%;
  background-size: auto 105%;
}

.u-section-6 .u-container-layout-1 {
  padding: 10px 8px;
}

.u-section-6 .u-image-2 {
  height: 51px;
  width: 166px;
  margin: 9px 9px 0 auto;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 493px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-6 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-6 .u-text-2 {
  margin: 34px 0 0;
}

.u-section-6 .u-btn-1 {
  letter-spacing: 2px;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 400;
  background-image: none;
  margin: 34px auto 0 0;
  padding: 13px 46px 15px 45px;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 544px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .u-section-6 .u-image-1 {
    min-height: 542px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 407px;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 569px;
  }

  .u-section-6 .u-image-1 {
    min-height: 567px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 825px;
  }

  .u-section-6 .u-image-1 {
    min-height: 851px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 652px;
  }

  .u-section-6 .u-image-1 {
    min-height: 536px;
  }

  .u-section-6 .u-image-2 {
    height: 39px;
    width: 128px;
    margin-right: 5px;
  }
} .u-section-7 {
  background-image: linear-gradient(0deg, rgba(61,100,74,0.85), rgba(61,100,74,0.85)), url("images/bd7f81e4c42babab52a0866efaf87084fe8a209931d9706ca00d7cea1737c9d8-rimg-w1200-h900-gmir.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 519px;
}

.u-section-7 .u-text-1 {
  font-size: 4.5rem;
  letter-spacing: 0px;
  text-transform: none;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  margin: 60px 218px 0 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.25rem;
  font-family: Roboto, sans-serif;
  letter-spacing: 0px;
  text-transform: none;
  line-height: 1.4;
  font-weight: 700;
  margin: 16px 570px 0 0;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-7 .u-form-1 {
  height: 54px;
  margin: 41px 570px 60px 6px;
}

.u-section-7 .u-label-1 {
  font-size: 1.25rem;
}

.u-section-7 .u-input-1 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 600;
}

.u-section-7 .u-btn-2 {
  background-image: none;
  border-style: solid;
  font-size: 1.25rem;
  width: 300%;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 10px 40px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 635px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 18px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 370px;
  }

  .u-section-7 .u-form-1 {
    margin-right: 370px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 631px;
  }

  .u-section-7 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-right: 0;
  }

  .u-section-7 .u-text-2 {
    margin-right: 150px;
  }

  .u-section-7 .u-form-1 {
    margin-right: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 671px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
  }

  .u-section-7 .u-form-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    background-position: 66.15% 100%;
  }

  .u-section-7 .u-sheet-1 {
    min-height: 651px;
  }

  .u-section-7 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.125rem;
    width: auto;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 737px;
}

.u-section-8 .u-text-1 {
  width: 316px;
  margin: 33px auto 0;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 16px;
  margin-bottom: 45px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 609px;
}

.u-section-8 .u-container-layout-1 {
  padding: 10px 0;
}

.u-section-8 .u-image-1 {
  height: 235px;
  object-position: 50% 13.69%;
  width: 235px;
  background-image: url("images/avatar.jpeg");
  background-position: 50% 50%;
  margin: 25px auto 0;
}

.u-section-8 .u-text-2 {
  font-weight: 700;
  margin: 47px 25px 0;
}

.u-section-8 .u-text-3 {
  font-style: italic;
  margin: 16px 7px 0 16px;
}

.u-section-8 .u-social-icons-1 {
  height: 45px;
  min-height: 16px;
  width: 45px;
  min-width: 16px;
  margin: 16px auto 0;
}

.u-section-8 .u-icon-1 {
  height: 100%;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 609px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-8 .u-image-2 {
  height: 237px;
  object-position: 50% 60.72%;
  width: 237px;
  background-image: url("images/1554481354778.jpeg");
  background-position: 50% 50%;
  margin: 10px 18px 0 auto;
}

.u-section-8 .u-text-4 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 40px auto 0;
}

.u-section-8 .u-text-5 {
  font-style: italic;
  margin: 20px 18px 0;
}

.u-section-8 .u-social-icons-2 {
  height: 45px;
  min-height: 16px;
  width: 45px;
  min-width: 16px;
  margin: 33px auto 0;
}

.u-section-8 .u-icon-2 {
  height: 100%;
}

.u-section-8 .u-layout-cell-3 {
  min-height: 609px;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-8 .u-image-3 {
  height: 244px;
  object-position: 50% 46.55%;
  width: 244px;
  background-image: url("images/1607510623161.jpeg");
  background-position: 50% 50%;
  margin: 7px auto 0;
}

.u-section-8 .u-text-6 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 37px auto 0;
}

.u-section-8 .u-text-7 {
  font-style: italic;
  margin: 20px auto 0;
}

.u-section-8 .u-social-icons-3 {
  height: 45px;
  min-height: 16px;
  width: 45px;
  min-width: 16px;
  margin: 58px auto 0;
}

.u-section-8 .u-icon-3 {
  height: 100%;
}

.u-section-8 .u-layout-cell-4 {
  min-height: 609px;
}

.u-section-8 .u-container-layout-4 {
  padding: 27px 0;
}

.u-section-8 .u-image-4 {
  height: 234px;
  object-position: 50% 37.76%;
  width: 234px;
  background-image: url("images/1616951946777.jpeg");
  background-position: 50% 50%;
  margin: 10px auto 0;
}

.u-section-8 .u-text-8 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 47px auto 0;
}

.u-section-8 .u-text-9 {
  font-style: italic;
  margin: 20px 10px 0;
}

.u-section-8 .u-social-icons-4 {
  height: 45px;
  min-height: 16px;
  width: 45px;
  min-width: 16px;
  margin: 33px auto 0;
}

.u-section-8 .u-icon-4 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 717px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 625px;
  }

  .u-section-8 .u-image-1 {
    height: 197px;
    width: 197px;
    margin-top: 27px;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-top: 33px;
    margin-right: auto;
    margin-left: -7px;
  }

  .u-section-8 .u-text-3 {
    width: auto;
    margin-top: 35px;
    margin-left: -7px;
  }

  .u-section-8 .u-social-icons-1 {
    margin-top: 37px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 625px;
  }

  .u-section-8 .u-image-2 {
    height: 200px;
    width: 200px;
    margin-right: 0;
  }

  .u-section-8 .u-text-4 {
    width: auto;
    margin-top: 27px;
    margin-right: 7px;
  }

  .u-section-8 .u-text-5 {
    width: auto;
    margin-top: 37px;
    margin-right: -5px;
    margin-left: 5px;
  }

  .u-section-8 .u-social-icons-2 {
    margin-top: 35px;
    margin-right: 89px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 625px;
  }

  .u-section-8 .u-image-3 {
    height: 200px;
    width: 200px;
    margin-right: 9px;
  }

  .u-section-8 .u-text-6 {
    width: auto;
    margin-top: 30px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-8 .u-text-7 {
    width: auto;
    margin-top: 35px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-social-icons-3 {
    margin-top: 62px;
    margin-right: 87px;
  }

  .u-section-8 .u-layout-cell-4 {
    min-height: 625px;
  }

  .u-section-8 .u-image-4 {
    height: 204px;
    width: 204px;
  }

  .u-section-8 .u-text-8 {
    width: auto;
    margin-top: 26px;
    margin-right: 0;
    margin-left: 5px;
  }

  .u-section-8 .u-text-9 {
    width: auto;
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-social-icons-4 {
    margin-top: 42px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 774px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-bottom: 33px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 657px;
  }

  .u-section-8 .u-image-1 {
    height: 162px;
    width: 162px;
    margin-top: 23px;
  }

  .u-section-8 .u-text-2 {
    margin-top: 27px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 0;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 660px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-top: 27px;
    padding-bottom: 27px;
  }

  .u-section-8 .u-image-2 {
    height: 160px;
    width: 160px;
    margin-top: 8px;
  }

  .u-section-8 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-5 {
    margin-top: 32px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-social-icons-2 {
    margin-top: 40px;
    margin-right: auto;
    margin-left: 55px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 660px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-top: 27px;
    padding-bottom: 27px;
  }

  .u-section-8 .u-image-3 {
    height: 162px;
    width: 162px;
    margin-right: auto;
  }

  .u-section-8 .u-text-6 {
    margin-top: 27px;
  }

  .u-section-8 .u-social-icons-3 {
    margin-top: 86px;
    margin-right: auto;
    margin-left: 55px;
  }

  .u-section-8 .u-layout-cell-4 {
    min-height: 660px;
  }

  .u-section-8 .u-image-4 {
    height: 164px;
    width: 164px;
  }

  .u-section-8 .u-text-8 {
    margin-top: 25px;
    margin-right: 5px;
  }

  .u-section-8 .u-text-9 {
    margin-top: 24px;
  }

  .u-section-8 .u-social-icons-4 {
    margin-top: 44px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 2061px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 493px;
  }

  .u-section-8 .u-text-2 {
    margin-top: 25px;
    margin-right: 153px;
    margin-left: auto;
  }

  .u-section-8 .u-text-3 {
    margin-top: 37px;
  }

  .u-section-8 .u-social-icons-1 {
    margin-top: 30px;
    margin-left: 240px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 510px;
  }

  .u-section-8 .u-image-2 {
    margin-top: 10px;
    margin-right: auto;
    margin-left: 182px;
  }

  .u-section-8 .u-text-4 {
    margin-top: 25px;
    margin-right: auto;
    margin-left: 158px;
  }

  .u-section-8 .u-social-icons-2 {
    margin-top: 47px;
    margin-left: auto;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 469px;
  }

  .u-section-8 .u-text-6 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-8 .u-social-icons-3 {
    margin-top: 38px;
    margin-left: auto;
  }

  .u-section-8 .u-layout-cell-4 {
    min-height: 513px;
  }

  .u-section-8 .u-social-icons-4 {
    margin-top: 46px;
    margin-left: 240px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 2001px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 466px;
  }

  .u-section-8 .u-text-2 {
    margin-top: 33px;
    margin-right: 45px;
  }

  .u-section-8 .u-text-3 {
    margin-top: 29px;
    margin-left: 0;
  }

  .u-section-8 .u-social-icons-1 {
    margin-top: 26px;
    margin-left: auto;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 502px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-top: 23px;
    padding-bottom: 23px;
  }

  .u-section-8 .u-image-2 {
    margin-top: 13px;
    margin-right: 87px;
    margin-left: auto;
  }

  .u-section-8 .u-text-4 {
    margin-top: 27px;
    margin-left: auto;
  }

  .u-section-8 .u-text-5 {
    margin-top: 30px;
  }

  .u-section-8 .u-social-icons-2 {
    margin-top: 37px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 449px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .u-section-8 .u-image-3 {
    margin-top: 10px;
  }

  .u-section-8 .u-text-6 {
    margin-top: 30px;
  }

  .u-section-8 .u-text-7 {
    margin-top: 26px;
  }

  .u-section-8 .u-social-icons-3 {
    margin-top: 37px;
  }

  .u-section-8 .u-layout-cell-4 {
    min-height: 500px;
  }

  .u-section-8 .u-text-8 {
    margin-top: 29px;
  }

  .u-section-8 .u-text-9 {
    margin-top: 20px;
  }

  .u-section-8 .u-social-icons-4 {
    margin-top: 37px;
    margin-left: auto;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 655px;
}

.u-section-9 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 45px;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 620px;
}

.u-section-9 .u-container-layout-1 {
  padding: 10px 0;
}

.u-section-9 .u-image-1 {
  height: 235px;
  object-position: 50% 13.69%;
  width: 235px;
  background-image: url("images/1517445405583.jpeg");
  background-position: 50% 50%;
  margin: 25px auto 0;
}

.u-section-9 .u-text-1 {
  font-weight: 700;
  margin: 45px 66px 0 auto;
}

.u-section-9 .u-text-2 {
  font-style: italic;
  margin: 18px 7px 0 16px;
}

.u-section-9 .u-social-icons-1 {
  height: 45px;
  min-height: 16px;
  width: 45px;
  min-width: 16px;
  margin: 16px auto 0;
}

.u-section-9 .u-icon-1 {
  height: 100%;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 620px;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-9 .u-image-2 {
  height: 237px;
  object-position: 50% 60.72%;
  width: 237px;
  background-image: url("images/Screenshot2023-05-04at11.31.44.png");
  background-position: 50% 50%;
  margin: 10px auto 0;
}

.u-section-9 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 40px auto 0;
}

.u-section-9 .u-text-4 {
  font-style: italic;
  margin: 20px 18px 0;
}

.u-section-9 .u-social-icons-2 {
  height: 45px;
  min-height: 16px;
  width: 45px;
  min-width: 16px;
  margin: 33px auto 0;
}

.u-section-9 .u-icon-2 {
  height: 100%;
}

.u-section-9 .u-layout-cell-3 {
  min-height: 620px;
}

.u-section-9 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-9 .u-image-3 {
  height: 244px;
  object-position: 50% 46.55%;
  width: 244px;
  background-image: url("images/Screenshot2023-05-04at11.34.36.png");
  background-position: 50% 50%;
  margin: 7px auto 0;
}

.u-section-9 .u-text-5 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 37px auto 0;
}

.u-section-9 .u-text-6 {
  font-style: italic;
  margin: 20px auto 0;
}

.u-section-9 .u-social-icons-3 {
  height: 45px;
  min-height: 16px;
  width: 45px;
  min-width: 16px;
  margin: 11px auto 0;
}

.u-section-9 .u-icon-3 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 626px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-bottom: 1px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 625px;
  }

  .u-section-9 .u-image-1 {
    height: 197px;
    width: 197px;
    margin-top: 27px;
  }

  .u-section-9 .u-text-1 {
    width: auto;
    margin-top: 35px;
    margin-right: auto;
    margin-left: 48px;
  }

  .u-section-9 .u-text-2 {
    width: auto;
    margin-top: 33px;
    margin-left: -7px;
  }

  .u-section-9 .u-social-icons-1 {
    margin-top: 37px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 625px;
  }

  .u-section-9 .u-image-2 {
    height: 200px;
    width: 200px;
  }

  .u-section-9 .u-text-3 {
    width: auto;
    margin-top: 23px;
  }

  .u-section-9 .u-text-4 {
    width: auto;
    margin-top: 41px;
    margin-right: -5px;
    margin-left: 5px;
  }

  .u-section-9 .u-social-icons-2 {
    margin-top: 60px;
    margin-left: 125px;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 625px;
  }

  .u-section-9 .u-image-3 {
    height: 200px;
    width: 200px;
  }

  .u-section-9 .u-text-5 {
    width: auto;
    margin-top: 32px;
  }

  .u-section-9 .u-text-6 {
    width: auto;
    margin-top: 33px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-social-icons-3 {
    margin-top: 37px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 774px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-bottom: 33px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 660px;
  }

  .u-section-9 .u-image-1 {
    height: 162px;
    width: 162px;
    margin-top: 23px;
  }

  .u-section-9 .u-text-1 {
    margin-top: 24px;
    margin-left: 24px;
  }

  .u-section-9 .u-text-2 {
    margin-top: 36px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 660px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-top: 27px;
    padding-bottom: 27px;
  }

  .u-section-9 .u-image-2 {
    height: 160px;
    width: 160px;
    margin-top: 8px;
  }

  .u-section-9 .u-text-3 {
    margin-top: 24px;
  }

  .u-section-9 .u-text-4 {
    margin-top: 62px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-social-icons-2 {
    margin-top: 62px;
    margin-left: auto;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 660px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-top: 27px;
    padding-bottom: 27px;
  }

  .u-section-9 .u-image-3 {
    height: 162px;
    width: 162px;
  }

  .u-section-9 .u-text-5 {
    margin-top: 27px;
  }

  .u-section-9 .u-social-icons-3 {
    margin-top: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1049px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-top: 77px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 493px;
  }

  .u-section-9 .u-text-1 {
    margin-top: 25px;
    margin-right: 153px;
    margin-left: auto;
  }

  .u-section-9 .u-text-2 {
    margin-top: 37px;
  }

  .u-section-9 .u-social-icons-1 {
    margin-top: 30px;
    margin-left: 240px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 510px;
  }

  .u-section-9 .u-image-2 {
    margin-top: 10px;
    margin-left: 182px;
  }

  .u-section-9 .u-text-3 {
    margin-top: 30px;
    margin-left: 185px;
  }

  .u-section-9 .u-text-4 {
    margin-top: 57px;
  }

  .u-section-9 .u-social-icons-2 {
    margin-top: 33px;
    margin-left: 240px;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 469px;
  }

  .u-section-9 .u-social-icons-3 {
    margin-top: 38px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1558px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-bottom: 29px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 466px;
  }

  .u-section-9 .u-text-1 {
    margin-top: 35px;
    margin-right: 45px;
  }

  .u-section-9 .u-text-2 {
    margin-top: 29px;
  }

  .u-section-9 .u-social-icons-1 {
    margin-top: 26px;
    margin-left: auto;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 502px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-top: 23px;
    padding-bottom: 23px;
  }

  .u-section-9 .u-image-2 {
    margin-top: 13px;
    margin-right: 87px;
    margin-left: auto;
  }

  .u-section-9 .u-text-3 {
    margin-top: 24px;
    margin-left: auto;
  }

  .u-section-9 .u-text-4 {
    margin-top: 30px;
  }

  .u-section-9 .u-social-icons-2 {
    margin-top: 47px;
    margin-left: auto;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 449px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .u-section-9 .u-image-3 {
    margin-top: 10px;
  }

  .u-section-9 .u-text-5 {
    margin-top: 32px;
  }

  .u-section-9 .u-text-6 {
    margin-top: 26px;
  }

  .u-section-9 .u-social-icons-3 {
    margin-top: 37px;
  }
} .u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 732px;
}

.u-section-10 .u-text-1 {
  width: 316px;
  margin: 66px auto 0;
}

.u-section-10 .u-layout-wrap-1 {
  margin-top: 22px;
  margin-bottom: 60px;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 533px;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-10 .u-image-1 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/primavera.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-10 .u-text-2 {
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-10 .u-text-3 {
  font-style: italic;
  margin: 20px 15px 0;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 533px;
}

.u-section-10 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-10 .u-image-2 {
  height: 257px;
  object-position: 50% 60.72%;
  width: 257px;
  background-image: url("images/vasilis.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-10 .u-text-4 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 30px auto 0;
}

.u-section-10 .u-text-5 {
  font-style: italic;
  margin: 20px 18px 0;
}

.u-section-10 .u-layout-cell-3 {
  min-height: 549px;
}

.u-section-10 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-10 .u-image-3 {
  height: 257px;
  object-position: 50% 46.55%;
  width: 257px;
  background-image: url("images/matt.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-10 .u-text-6 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 30px auto 0;
}

.u-section-10 .u-text-7 {
  font-style: italic;
  margin: 20px 11px 0 0;
}

.u-section-10 .u-layout-cell-4 {
  min-height: 533px;
}

.u-section-10 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-10 .u-image-4 {
  height: 257px;
  object-position: 50% 37.76%;
  width: 257px;
  background-image: url("images/fati.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-10 .u-text-8 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 30px auto 0;
}

.u-section-10 .u-text-9 {
  font-style: italic;
  margin: 23px 23px 0 17px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 665px;
  }

  .u-section-10 .u-text-1 {
    margin-top: 34px;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 574px;
  }

  .u-section-10 .u-image-1 {
    height: 230px;
    width: 230px;
    margin-right: -1px;
    margin-left: 0;
  }

  .u-section-10 .u-text-3 {
    width: auto;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 574px;
  }

  .u-section-10 .u-image-2 {
    height: 230px;
    width: 230px;
    margin-right: -1px;
    margin-left: 0;
  }

  .u-section-10 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-layout-cell-3 {
    min-height: 574px;
  }

  .u-section-10 .u-image-3 {
    height: 234px;
    width: 234px;
    margin-right: -5px;
    margin-left: 0;
  }

  .u-section-10 .u-text-7 {
    margin-right: 0;
  }

  .u-section-10 .u-layout-cell-4 {
    min-height: 574px;
  }

  .u-section-10 .u-image-4 {
    height: 230px;
    width: 230px;
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-10 .u-text-8 {
    width: auto;
    margin-top: 33px;
  }

  .u-section-10 .u-text-9 {
    width: auto;
    margin-top: 17px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 994px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 406px;
  }

  .u-section-10 .u-image-1 {
    height: 187px;
    width: 187px;
    margin-top: 2px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-10 .u-text-2 {
    margin-top: 28px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 406px;
  }

  .u-section-10 .u-image-2 {
    height: 187px;
    width: 187px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-10 .u-layout-cell-3 {
    min-height: 474px;
  }

  .u-section-10 .u-image-3 {
    height: 187px;
    width: 187px;
    margin-right: 80px;
    margin-left: auto;
  }

  .u-section-10 .u-layout-cell-4 {
    min-height: 474px;
  }

  .u-section-10 .u-image-4 {
    height: 187px;
    width: 187px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-10 .u-text-9 {
    margin-right: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1049px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-10 .u-layout-cell-3 {
    min-height: 404px;
  }

  .u-section-10 .u-image-3 {
    margin-right: auto;
  }

  .u-section-10 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-10 .u-layout-cell-4 {
    min-height: 429px;
  }

  .u-section-10 .u-text-9 {
    margin-left: 10px;
    margin-right: 10px;
  }
} .u-section-11 {
  background-image: none;
  min-height: 458px;
}

.u-section-11 .u-shape-1 {
  height: 296px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-11 .u-group-1 {
  min-height: 540px;
  width: 965px;
  text-shadow: 0px 0px 0 rgba(0,0,0,0);
  margin: -215px auto 0;
}

.u-section-11 .u-container-layout-1 {
  padding: 30px 49px;
}

.u-section-11 .u-text-1 {
  text-transform: none;
  font-size: 2.25rem;
  margin: 0 auto 0 0;
}

.u-section-11 .u-form-1 {
  height: 396px;
  width: 867px;
  margin: 12px auto 0;
}

.u-section-11 .u-form-group-2 {
  margin-left: 0;
}

.u-section-11 .u-form-group-4 {
  margin-left: 0;
}

.u-section-11 .u-btn-1 {
  text-transform: uppercase;
  background-image: none;
  border-style: none;
  width: 100%;
  letter-spacing: 2px;
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-11 .u-group-1 {
    width: 940px;
  }

  .u-section-11 .u-form-1 {
    width: 842px;
  }
}

@media (max-width: 991px) {
   .u-section-11 {
    min-height: 605px;
  }

  .u-section-11 .u-shape-1 {
    height: 280px;
  }

  .u-section-11 .u-group-1 {
    width: 720px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-11 .u-text-1 {
    width: auto;
  }

  .u-section-11 .u-form-1 {
    width: 660px;
    margin-top: 13px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
   .u-section-11 {
    min-height: 634px;
  }

  .u-section-11 .u-shape-1 {
    height: 300px;
  }

  .u-section-11 .u-group-1 {
    width: 540px;
    min-height: 549px;
  }

  .u-section-11 .u-text-1 {
    font-size: 1.875rem;
    margin-left: auto;
  }

  .u-section-11 .u-form-1 {
    width: 480px;
    margin-top: 19px;
  }
}

@media (max-width: 575px) {
   .u-section-11 {
    min-height: 50vw;
  }

  .u-section-11 .u-group-1 {
    width: 340px;
    min-height: 571px;
  }

  .u-section-11 .u-container-layout-1 {
    padding: 0 10px 20px;
  }

  .u-section-11 .u-text-1 {
    margin-top: 30px;
  }

  .u-section-11 .u-form-1 {
    height: 308px;
    width: 300px;
    margin-top: 0;
    margin-left: auto;
  }
} .u-section-12 {
  background-image: none;
}

.u-section-12 .u-sheet-1 {
  min-height: 180px;
}

.u-section-12 .u-text-1 {
  margin: 35px auto 0;
}

.u-section-12 .u-social-icons-1 {
  height: 60px;
  min-height: 16px;
  width: 220px;
  min-width: 88px;
  margin: 32px auto 28px;
}

.u-section-12 .u-icon-2 {
  height: 100%;
}

.u-section-12 .u-icon-3 {
  height: 60px;
}