/***********************************
MEDIA QUERIES
***********************************/

@media only screen and (max-width: 1400px) {

}


/* 1400 */

@media only screen and (max-width: 1199px) {


}


/* 1199 */

@media only screen and (max-width: 1080px) {

}




/* iPad Landscape */

@media only screen and (max-width: 991px) {
.brand-carousel-wrapper {
    padding: 100px 0px;
}

}
/* 991 */

@media only screen and (max-width: 991px) and (min-width: 768px) { 

}
/* 991 - 768 */

@media only screen and (max-width: 767px) {
p {
	font-size: 16px;
	line-height: 30px !important;
}

h1 {
	font-size: 36px;
	line-height: 1.3;
}

h2 {
	font-size: 28px;
	line-height: 1.3;
}

h3 {
	font-size: 22px;
	line-height: 1.4;
}

h4 {
	font-size: 19px;
	line-height: 1.4;
}

.hero-animate {
	.animate {
		&.animate1 {
		    left: 15px;
		}

		&.animate2 {
		    left: 200px;
		}

		&.animate3 {
		    left: 380px;
		}
	}
}

.brand-carousel-wrapper {
    padding: 80px 0px;
}

.call-to-action-wrap {
	.cta-banner {
		h2 {
		    margin-top: -7px;
		}
	}
}

.footer_waves_wrap {
	height: 80px;

	svg {
	 	&.wave_mid {
		    bottom: -45px;
		}
	 }
}

.footer-wrap {

	.footer-info {

		.footer-logo {
		    float: inherit;
		    overflow: auto;
		    margin-right: 0;
		    margin-bottom: 15px;
		}

		.copyright-text {
		    overflow: auto;
		    margin-bottom: 20px;
		}
	}

	.social-profile-links {
	    text-align: center;
	    margin-top: 20px;

	    a {
	    	margin: 0px 4px;
	    }
	}

}


}
/* 767 */

@media only screen and (max-width: 680px) {
  .call-to-action-wrap {
  	.cta-banner {
		.cta-btn {
		    padding: 10px;
		}
  	}
  }
}
/* 680 */

@media only screen and (max-width: 575px) {
 
}
/* 575 */

@media only screen and (max-width: 480px) {
    
}
/* 480 */

@media only screen and (max-width: 380px) {
  .call-to-action-wrap {
  	.cta-banner {
		.cta-btn {
		    padding: 5px;
		}
  	}
  }
}
/* 380 */