.services-wrap {
	
    &::before {
		top: 0;
		left: 0;
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		background-image: -moz-linear-gradient( 90deg, rgb(247,249,254) 0%, rgb(255,255,255) 100%);
		background-image: -webkit-linear-gradient( 90deg, rgb(247,249,254) 0%, rgb(255,255,255) 100%);
		background-image: -ms-linear-gradient( 90deg, rgb(247,249,254) 0%, rgb(255,255,255) 100%);
		opacity: .5;
	}
	.service-right-bg {
	    right: 0;
	    bottom: 0;
	    content: "";
	    width: 100%;
	    height: 100%;
	    position: absolute;
	    background-size: contain;
	    mix-blend-mode: multiply;
	    background-position: right;
	    background-repeat: no-repeat;

	    &:before {
			position: absolute;
			left: 0;
			top: 0;
			background: #fff;
			content: "";
			width: 100%;
			height: 100%;
			opacity: .9;
	    }

	    @media (max-width: 1600px) {
	    	display: none;
	    	opacity: 0;
	    }


	}
	.service-head-content {

		h2 {

		}

		@media (max-width: 767px) {
			&.pr-40 {
				padding-right: 0;
			}
		}
		
	}

	.single-service-item {
		z-index: 1;
		margin-top: 75px;
		position: relative;

		.service-icon {
			float: left;
			width: 85px;
			height: 85px;
			overflow: auto;
			line-height: 85px;
			text-align: center;
			border-radius: 50%;
			margin-right: 25px;
			box-shadow: $box-shadow;
			background-color: $white;
			@include transition(.4s);

			img {

			}
			
			i {	
				display: block;
				font-size: 40px;
				line-height: 85px;
				color: $theme-color;
			}
			
			@media (max-width: 480px) {
				float: none;
				margin-right: 0px;
				margin-bottom: 25px;
			}
		}

		.service-info {
			overflow: auto;

			h4 {
				margin-top: -6px;
				margin-bottom: 17px;
			}

			p {
				font-size: 15px;
				line-height: 30px;
			}
		}
	}
	
	.service-shape-wrap {

		@media (max-width: 1400px) {
			display: none;
			opacity: 0;
		}
		.shape {
			z-index: -1;
			@media (max-width: 1600px) {
				margin-left: -100px;
			}
			&.s5 {
				transform: rotate(180deg);
				left: 64px;
				bottom: 0;
			}

			&.s7 {
				bottom: 120px;
				left: -20px;
			}

			&.s4 {
				left: -5px;
				bottom: 145px;
			}

			&.s6 {
				left: 20px;
				bottom: 91px;
			}

			&.s2 {
				left: 75px;
				bottom: 122px;
				transform: rotate(180deg);
			}

			&.s3 {
				left: 130px;
				bottom: 70px;
			}			
		}
	}	
}




.services-section-two {
	.services-header {

		.tag-title {

		}
	}

	.services-item-grid {
		margin-top: 45px;

		.single-service-item {
    		margin-left: -44px;
    		margin-bottom: 65px;
    		padding-right: 56px;

    		@media (max-width: 1199px) {
    			margin-left: 15px;
    			padding-right: 20px;
    		}
			
    		@media (max-width: 400px) {
    			text-align: center;
    		}
			
			.service-icon {
				float: left;
				width: 116px;
				height: 102px;
				text-align: center;
				line-height: 102px;
				margin-right: 28px;
				position: relative;

				&::before {
					top: 5px;
					z-index: -1;
					width: 71px;
				    content: "";
				    left: -15px;
					height: 72px;
					border-radius: 50%;
					position: absolute;
					background-color: #fcfcfc;
					box-shadow: 0px 5px 68px 0px rgba(0, 0, 0, 0.05);
				}

				i {
					font-size: 40px;
					line-height: 102px;
					color: $theme-color;
				}

				@media (max-width: 450px) {
					float: none;
					text-align: center;
					position: relative;
					margin: 0px auto;
					margin-bottom: 30px;					
				}

			}

			.service-info {
				overflow: auto;

				h4 {
					margin-bottom: 14px;
				}

				p {
					font-size: 15px;
					line-height: 30px;
				}

				@media (max-width: 450px) {
					text-align: center;				
				}

			}
		}

		.more-service-btn {
			margin: 0px auto;
			margin-top: 27px;
			text-align: center;

			a {
				min-width: 220px;
				min-height: 70px;
				font-weight: 500;
				padding: 0px 57px;
				color: $textcolor;
				line-height: 70px;
				border-radius: 35px;
				display: inline-block;
				background-color: $white;
				@include transition(.4s);
				box-shadow: 0px 5px 38px 0px rgba(5, 60, 161, 0.05);

				&:hover {
					color: $white;
					background: $theme-color;
				}

				@media (max-width: 767px) {
					min-width: 160px;
					min-height: 60px;
					font-weight: 700;
					padding: 0px 25px;
					color: #232328;
					line-height: 60px;
					font-size: 14px;
				}
			}
		}
	}


	.service-two-shape {
		.shape {
			z-index: -1;
		  &.st5 {
		    right: 0;
		    bottom: 15px;
		  }

		  &.st1 {
		    left: 179px;
		    animation: bounce 4s infinite linear;
		  }

		  &.st2 {
		    left: 52px;
		    bottom: 470px;
		    animation: movebounce 4s infinite linear;
		  }

		  &.st3 {
		    right: 270px;
		    top: 180px;
		    animation: rotate3d 4s infinite linear;
		  }

		  &.st4 {
		    right: 233px;
		    bottom: 138px;
		    filter: blur(3px);
		    animation: bounce 4s infinite linear;
		  }
		}
	}
}




.tag-title {
    height: 40px;
    font-size: 16px;
    min-width: 120px;
    line-height: 40px;
    padding: 0px 28px;
    text-align: center;
    background: #e8edfd;
    border-radius: 20px;
    margin-bottom: 26px;
    color: $theme-color;
    display: inline-block;
    @include transition(.4s);

    &:hover {
    	color: $white;
    	background: $theme-color;
    }			
}




