/*
Template: VRLanding - Virtual Reality HTML Template
Author: Keendevs
Author URI: https://keendevs.com/
Description: Virtual Reality HTML Landing Page.
Version: 1.0
*/


/*
=================================
|***    Table of contents:   ***|
=================================

1. General styles
2. Typography
3. Helpers
4. Preloader
5. Go up button
6. Header and navigation
7. Welcome Hero Section
8. About us
9. Service
10. Fun facts
11. Testimonial
12. Blog

*/

// BASIC
@import 'basic';
// MIXIN
@import 'variables';
// TYPOGRAPHY
@import 'typography';
// MIX
@import 'mix';
// HELPER
@import 'helper';
// ICON FONTS
@import 'icon';
// ANIMATION
@import 'animation';
// Button 
@import 'btn';
// Colors 
@import 'colors';

// Preloader 
@import 'preloader';

/* ----------------------------------
	Template Section Styles
 ------------------------------------*/

// Menu - Header Section 
@import 'header';

// Hero Slide - Section 
@import 'hero';

// About - Section 
@import 'about';

// Features - Section 
@import 'features';

// Features - Section 
@import 'services';

// Features - Section 
@import 'casestudy';

// Features - Section 
@import 'testimonial';

// Call To Action - Section 
@import 'cta';

// Call To Action - Section 
@import 'contentblock';

// FAQ - Section 
@import 'faq';

// Contact Us - Section 
@import 'contact';

// Contact Us - Section 
@import 'footer';








// write style code here 






.wave {
	overflow: hidden;
    width: 100%;
	svg {
	    position: absolute;
	    left: -825px;
	    bottom: -70px;
	}

}

// Section Title 
.section-title {
	h2 {
		margin-top: -12px;

		@media (max-width: 500px) {
			margin-top: 0;
		}
	}

	p {
		color: #666668;
		line-height: 33px;
		margin-top: 6px;
	}
}

.section-btn-link {
	a {
		color: $theme-color;
		@include  transition(.3s);
		&:hover {
			color: $second-color;

			span {
				border-color: transparent;
			}
		}
		span {
			border-bottom: 2px solid #96bbff;
		}

		i {
			margin-left: 22px;
		}
	}
}


@import 'responsive';